
@charset "utf-8";
/* CSS Document */
/*menureponsive*/
body
{
	margin: 0;
	padding: 0;
}
cachchu { letter-spacing: 2px}
.topnav {
  overflow: hidden;

}

.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:hover {
  text-decoration: none;
  color:#C0C0C0;
}

.active {
  
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a
	{
    float: none;
    display: block;
    text-align: left;
	}
	}

/*parallax*/

.parallax {
  /* The image used */
  background-image: url(../img/bgmain.jpg) ;
	

  /* Set a specific height */
  height:1080px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;}
/*menuvuong*/

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}
/*overlaytitle*/
* {box-sizing: border-box;}

.container-overlay {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.image-overlay {
  display: block;
  width: auto;
  height: auto;
}

.overlay-title {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
	height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
	vertical-align: 30%;
	
}

.container-overlay:hover .overlay-title {
  opacity: 1;
}
/*bgcolor*/
/*footer*/
cachdong
{
	line-height: 150%;
}
a
{
	opacity: 0.8;
}

.col-lg-4 a:hover 
{
	opacity: 1;
	
}
/*about*/
.about-loc
{
	background-color: #FFFFFF;
	padding-top: 5%;
	padding-bottom: 5%;
}
/*foorm*/
.container-loc {
   width: 60%;
    margin: auto;
    
   
    padding: 5%;
}
    input[type=text] {
    width: 100%;
    padding: 12px;
    border-style: solid #000;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 
input[type=submit] {
    
    color: #171717;
    padding: 12px 20px;
    border-style: solid #000;
    border-radius: 0;
    cursor: pointer;
}
 
input[type=submit]:hover {
    background-color: #1E1E1E;
	color: #FFFFFF;
}
.button-back {
  background-color: #fff;
  border-style: solid;
  color: #171717;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
	
  cursor: pointer;
}
.button-back:hover 
{
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}
#myBtn {
  display: block;
	height: 50px;
	width: 50px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: #000;
	color: #fff;
}

/*animate*/
.wow:first-child {
      visibility: hidden;
    }
